mat-toolbar {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

mat-toolbar .buttons {
  margin-left: auto;
  margin-right: 4rem; /* Ajoute une marge à droite */
}

mat-toolbar .buttons button:hover {
  background-color: #CA9FFF; /* Couleur violette */
  color: black;
}
