<mat-toolbar color="accent">
  <div class="buttons">

    <!-- si l'utilisateur est authentifié, afficher un message de bienvenue et le bouton de déconnexion -->
    <ng-container *ngIf="isAuthenticated()">
      <span class="currentUsername">Bonjour  {{ currentUser()?.username }}</span> <!--récupération du pseudo de l'utilisateur -->
      <button mat-button (click)="logout()">Se déconnecter</button>
    </ng-container>

    <!-- si l'utilisateur n'est pas authentifié, afficher les boutons de connexion et d'inscription -->
    <ng-container *ngIf="!isAuthenticated()">
      <button mat-button [routerLink]="'/login'">Se connecter</button>
      <button mat-button [routerLink]="'/register'">S'inscrire</button>
    </ng-container>
  </div>
</mat-toolbar>
