mat-toolbar {
  background-color: #232826;
  display: flex;
  justify-content: space-between;
}

mat-toolbar .buttons {
  margin-left: auto;
  margin-right: 4rem;
}

mat-toolbar .buttons button:hover {
  background-color: #CA9FFF;
  color: black;
}

.currentUsername {
color: #CA9FFF;
font-size: 0.9rem;
margin-right: 1rem;
}

.profile-picture {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  object-fit: cover;
  margin-right : 1rem;
  vertical-align: middle;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 15rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.logo-text {
  font-family: 'Atipique', serif;
  font-size: 2rem;
  color: #CA9FFF;
  margin-left: 0.5rem;
}

.fas.fa-music {
  font-size: 2rem;
  color: #CA9FFF;
}
