mat-toolbar {
  background-color: #232826;
  display: flex;
  justify-content: space-between;
}

mat-toolbar .buttons {
  margin-left: auto;
  margin-right: 4rem; /* Ajoute une marge à droite */
}

mat-toolbar .buttons button:hover {
  background-color: #CA9FFF; /* Couleur violette */
  color: black;
}

.currentUsername {
color: #CA9FFF;
font-size: 0.9rem;
margin-right: 1rem;
}

.profile-picture {
  width: 3vw; /* 5% de la largeur de la fenêtre */
  height: 3vw; /* 5% de la largeur de la fenêtre pour garder l'image carrée */
  border-radius: 50%;
  object-fit: cover;
  margin-right : 1rem;
  vertical-align: middle; /* Aligner verticalement avec le texte */
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 13rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Atipique', serif;
  font-size: 2rem;
  color: #CA9FFF;
  margin-left: 0.5rem;
}

.fas.fa-music {
  font-size: 2rem; /* Taille de l'icône */
  color: #CA9FFF; /* Couleur de l'icône */
}
