/* Style général */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Corps de la page */
  body {
    background-color: #1c1c1c; /* Fond noir */
    color: #eaeaea; /* Texte gris clair */
    padding: 20px;
  }
  
  /* Titre principal */
  h2, label {
    color: #9b4dca; /* Violet */
    text-align: center;
    font-size: 1.3em;
  }
  
  /* Boutons */
  button {
    background-color: #9b4dca; /* Violet */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #7a38b4; /* Violet plus foncé */
    transform: translateY(-2px);
  }
  
  /* Bouton spécifique dans la liste des utilisateurs/amis */
  button.button {
    background-color: #9b4dca; /* Violet */
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 10px;
  }
  
  button.button:hover {
    background-color: #7a38b4;
  }
  
  button svg {
    fill: white;
  }
  
  /* Formulaire de création/modification */
  input[type="text"] {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #9b4dca;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #7a38b4; /* Violet plus foncé au focus */
    outline: none;
  }
  
  /* Style pour les icônes SVG */
  svg {
    vertical-align: middle;
  }
  
  #search-username {
    text-align: center;
  }

  div {
    margin:1em;
  }

  li {
    list-style-type: none; /* Supprime les puces des éléments de liste */
  padding: 0;
  }