/* Style général */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif; /* Police moderne et épurée */
  }
  
  /* Corps de la page */
  body {
    background-color: #1c1c1c; /* Fond noir */
    color: #eaeaea; /* Texte gris clair */
    padding: 20px;
  }
  
  /* Titre principal */
  h2, label {
    color: #9b4dca; /* Violet */
  text-align: center;
  font-size: 1.3em; 
  margin-bottom: 20px;
  }
  
  /* Boutons */
  button {
    background-color: #9b4dca; /* Violet */
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 10px 0;
  border-radius: 25px; /* Boutons arrondis pour un look moderne */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #7a38b4; /* Violet plus foncé */
  transform: scale(1.05); /* Léger zoom au survol */
  }
  
  /* Bouton spécifique dans la liste des utilisateurs/amis */
  button.button {
    background-color: #9b4dca; /* Violet */
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 10px;
  }
  
  button.button:hover {
    background-color: #7a38b4;
  }

  #search-button {
    display: inline-block; /* Permet de les aligner côte à côte */
  padding: 12px 18px; /* Ajuste la taille pour correspondre visuellement à l'input */
  border-radius: 25px; /* Arrondi similaire à l’input */
  background-color: #9b4dca;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  vertical-align: middle; /* Aligne le bouton verticalement avec l'input */
  transition: background-color 0.3s, transform 0.2s;
  }

  #search-button:hover {
    background-color: #7a38b4;
    transform: scale(1.1);
  }
  
  button svg {
    fill: white;
  }
  
  /* Formulaire de création/modification */
  input[type="text"] {
    width: 70%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #9b4dca;
  border-radius: 25px;
  background-color: #2e2e2e;
  color: white;
  font-size: 16px;
  transition: border-color 0.3s, background-color 0.3s;
  margin-right:1em;
  }
  
  input[type="text"]:focus {
    border-color: #7a38b4; /* Violet plus foncé au focus */
    background-color: #1c1c1c; /* Noir encore plus sombre */
    outline: none;
  }
  
  /* Style pour les icônes SVG */
  svg {
    vertical-align: middle;
  }
  
  #search-username {
    text-align: center;
  }

  div {
    margin:1em;
  }

  li {
    list-style-type: none; /* Supprime les puces des éléments de liste */
  padding: 0;
  }