
.sidenav-container {
  background-color: #CA9FFF;
  height: calc(100vh - 4rem); /* max moins header */
  display: flex;
  flex-direction: column; /* Contenu en colonne */
  }

  .left-sidenav,
  .right-sidenav {
  background-color: #232826;
  flex: 0 0 25% ; /* Barre latérale occupe maintenant 25% de la largeur */
  max-width: 300px; /* Largeur maximale pour éviter des barres trop larges */
  min-width: 200px; /* Largeur minimale */
  height: calc(100vh - 4rem); /* Hauteur : pleine page moins la hauteur du header */
  }

  .content {
  flex: 1;
  padding: 1rem; /* Espacement intérieur */
  overflow-y: auto; /* Défilement si nécessaire */
  }

  @media (max-width: 768px) {
  .left-sidenav,
  .right-sidenav {
    flex: 0 0 35%; /* Plus large sur les écrans petits */
  }

  .audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* S'assurer qu'il est au-dessus d'autres éléments */
  }
  
  .audio-player input[type="range"] {
    width: 100%;
  }
  
}
